
#wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background-color: rgb(226, 226, 226);
  border: 2px solid black;
  padding: 20px;
  margin: 25px auto;
}
h1, form {
  text-align: center;
}
form {
  margin: 20px 0 20px 0;
}